nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(10,0,20,0.8);
    backdrop-filter: blur(10px);
    color: white;
    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, cyan, magenta, greenyellow);
    }
}

nav a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a{
    color: white;
    text-decoration: none;
    pointer-events: all;
}

.nav-brand{
    display: flex;
    flex-direction: row;
    padding: 8px 12px;
    align-items: center;
    transition: background 0.3s ease;
}

.nav-brand:hover{
    text-shadow: darkgrey 0 0 20px;
    transition: text-shadow 0.3s ease;
}

.nav-brand h1{
    margin: 5px 0 5px 0;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-item{
    display: flex;
    height : 100%;
    transition: background 0.3s ease;
}

.nav-item :hover{
    text-shadow: white 0 0 20px;
    transition: text-shadow 0.3s ease;
}

.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    height: 100%;
}