.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: var(--text-color);
    text-shadow: white 0 2px 30px;
}

.carousel {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  object-fit: cover;
}