{% extends 'base.html' %}
{% block title %}Gaussian Blur{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='filters/css/pages/filter_types/grayscale/grayscale.css') }}">
{#    <script src="{{ url_for('static', filename='js/filters/grayscale/grayscale.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/components/slider.js') }}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        window.FilterSlider?.initSliders();
      });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gaussian Blur Filter</h1>
        <div class="controls">
            <label for="radius">Radius:</label>
            <input type="range" id="radius" name="radius" min="1" max="100" value="20" data-slider-target="#radius-value">
            <span id="radius-value" class="slider-value">1</span>
        </div>
        {% include 'components/forms/image_upload_form.html' %}
    </div>
    {% if original_url %}
        <div class="image-results">
            <div class="image-container">
                <h2>Original Image</h2>
                <img src="{{ original_url }}" alt="Original Image">
            </div>
            {% if processed_url %}
                <div class="image-container">
                    <h2>Gaussian Blurred Image</h2>
                    <img src="{{ processed_url }}" alt="Gaussian Image">
                </div>
            {% endif  %}
        </div>
    {% endif %}
{% endblock %}