.filter-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: darkgrey 0 0 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: darkgrey 0 0 8px;
}

.image-results{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: darkgrey 0 0 8px;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 50%;
}

.image-container img {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    aspect-ratio:1/1.5;
    overflow: hidden;
    border-radius: 10px;
}