{% extends 'base.html' %}
{% block title %}Duotone Filter{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='filters/css/pages/filter_types/grayscale/grayscale.css') }}">
{#    <script src="{{ url_for('static', filename='js/filters/grayscale/grayscale.js') }}"></script>#}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Duotone Filter</h1>
        {% include 'components/forms/image_upload_form.html' %}
    </div>
    {% if original_url %}
        <div class="image-results">
            <div class="image-container">
                <h2>Original Image</h2>
                <img src="{{ original_url }}" alt="Original Image">
            </div>
            {% if processed_url %}
                <div class="image-container">
                    <h2>Duotone Image</h2>
                    <img src="{{ processed_url }}" alt="duotone Image">
                </div>
            {% endif  %}
        </div>
    {% endif %}
{% endblock %}