{% extends 'base.html' %}
{% block title %}Inverted Filter{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/pages/filter_types/filter_general.css') }}">
{% endblock %}

{% block body %}
    <div class="filter-container">
        <div class="container">
            <h1>Inverted Filter</h1>
            {% include 'components/forms/image_upload_form.html' %}
        </div>
        <div class="image-results">
            <div class="image-container">
                <h2>Original Image</h2>
                {% if original_url %}
                    <img src="{{ original_url }}" alt="Original Image">
                {% else %}
                <img src="{{ url_for('static', filename='/images/assets/upload_placeholder.png') }}" alt="Inverted Image">
                {% endif %}
            </div>
            <div class="image-container">
                <h2>Duotone Image</h2>
                {% if processed_url %}
                    <img src="{{ processed_url }}" alt="Inverted Image">
                {% else %}
                    <img src="{{ url_for('static', filename='/images/assets/upload_placeholder.png') }}" alt="Inverted Image">
                {% endif  %}
            </div>
        </div>
    </div>
{% endblock %}